@keyframes grow{
    0%{
        font-size: 0;
        color: white;
        transform: translateX(-70%);
    }
    20%{
        font-size: 0.8rem;
        color:rgb(174, 194, 157);
        transform: translateX(-40%);
    }
    40%{
        font-size: 2.5rem;
        color: rgb(160, 138, 11);
        transform: translatY(-20%);
    }
    60%{
        font-size: .5rem;
        color: rgb(102, 87, 241);
        transform: translateY(-50%);
    }

    100%{
        font-size: 3rem;
        color: rgb(15, 102, 224);
        transform: translate(0);
        background-color: rgba(183, 230, 238, 0.984)
    };
}

@keyframes circle{
    0% {
        transform: scale(0);
        background-color: rgb(255, 255, 255);
    }
    25%{
        transform: scale(.5);
        background-color: rgb(247, 181, 59);
    }
    50%{
        transform: scale(1);
        background-color: orange;
    }
    75%{
        transform: scale(.5);
        background-color: rgb(237, 205, 145);
    }

    100%{
        transform: scale(.1);
        background-color: rgb(247, 240, 225);
    } 
}

@keyframes rotate{
    0%{
        transform: rotate(0);
        background-color: yellow;
    }
    50%{
        transform: rotate(180deg) ;
        background-color: rgb(0, 247, 255);
    }
    100%{
        transform: rotate(360deg);
        background-color: rgb(179, 0, 255);
    }
    50%{
        transform: rotate(180deg);
        background-color: rgb(0, 247, 255);
    }
}

@keyframes pulse{
    0%{
        transform:scale(0.1);
        border-bottom-color: rgb(91, 129, 117);
    }
    40%{
        transform:scale(0.5);
        border-bottom-color: rgb(39, 107, 184);
    }
    70%{
        transform:scale(1);
        border-bottom-color: rgb(10, 239, 29);
    }
    100%{
        transform:scale(.3);
        border-bottom-color: rgb(214, 255, 127);
    }
}

@keyframes spin{
    0%{
        transform: rotate(0);
        border-right: 2rem solid rgb(89, 185, 15);
        border-bottom: 2rem solid rgb(192, 219, 15);
        border-left: 2rem solid rgb(206, 38, 150);
        border-top: 2rem solid transparent
    }
    30%{
        transform: rotate(120deg);
        border-right: 2rem solid rgb(103, 15, 185);
        border-bottom: 2rem solid rgb(110, 87, 132);
        border-left: 2rem solid rgb(23, 6, 39);
        border-top: 2rem solid transparent
    }
    70%{
        transform: rotate(240deg);
        border-right: 2rem solid rgb(15, 185, 182);
        border-bottom: 2rem solid rgb(132, 108, 87);
        border-left: 2rem solid rgb(19, 226, 26);
        border-top: 2rem solid transparent
    }
    100%{
        transform: rotate(360deg);
        border-right: 2rem solid rgb(20, 23, 231);
        border-bottom: 2rem solid rgb(120, 223, 143);
        border-left: 2rem solid rgb(221, 96, 207);
        border-top: 2rem solid transparent
    }
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(36, 53, 59);
    max-height: 100%;
}

header{
    display: block;
    text-align: center;
    background-color: rgba(16, 175, 200, 0.807);
    height: 20vh;
    padding: 5rem;
    box-sizing: border-box;
}

h1{
    font-size: 2.6rem;
    color:rgb(33, 199, 61);
    margin: auto;
    border-radius: .5rem;
    font-weight: 700;
    animation: 6s grow 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


section{
    display: flex;
    flex-wrap: wrap;
    margin: 5rem auto;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    max-width: 80%;
    background-color: rgba(192, 189, 189, 0.044);
}

#circle{
    width: 10rem;
    height: 10rem;
    border: 2px solid azure;
    border-radius: 50%; 
    margin: 3rem auto;
    animation:6s infinite circle;
    animation-timing-function: linear;
}


#box{
    width: 10rem;
    height: 10rem;
    border: 2px solid azure;
    border-radius: 5%; 
    margin: auto;
    animation: 4s infinite rotate;
    animation-timing-function: linear;
}


#triangle{
    width: 5rem;
    height: 5rem;
    margin:3rem auto;
    width: 0; 
    height: 0; 
    border-left: 10rem solid transparent;
    border-right: 10rem solid transparent;
    border-bottom: 10rem solid green;
    animation: pulse 5s infinite;
    animation-timing-function: linear;
}

#spin{
    width: 10rem;
    height: 10rem;
    border-radius: 50%; 
    margin: 2rem auto;
    animation:2s infinite spin;
    animation-timing-function: linear;
}